<div class="admin-container">

  <!-- HEADER -->
  <div class="header">
    <h2>Antojitos<span>Maps</span></h2>
  </div>

  <!-- CONTENIDO -->
  <div class="content">

    <h1>Panel de administración</h1>
    <p>Gestiona los administradores del sistema</p>

    <div class="cards">

      <div class="card" (click)="irAgregar()">
        <div class="icon">👤➕</div>
        <p>Agregar Administrador</p>
      </div>

      <div class="card" (click)="irEditar()">
        <div class="icon">🔍</div>
        <p>Editar Administrador</p>
      </div>

      <div class="card" (click)="irEliminados()">
        <div class="icon">🗑️</div>
        <p>Administradores eliminados</p>
      </div>

    </div>

  </div>

</div>