<div class="admin-container">

  <h1 class="titulo">ANTOJITOS MAPS</h1>

  <div class="opciones">

    <div class="card" (click)="irAgregar()">
      <div class="icono">👤➕</div>
      <button>Agregar Administrador</button>
    </div>

    <div class="card" (click)="irEditar()">
      <div class="icono">🔍</div>
      <button>Editar Administrador</button>
    </div>

    <div class="card" (click)="irEliminados()">
      <div class="icono">🗑️</div>
      <button>Administradores eliminados</button>
    </div>

  </div>

</div>